<!doctype html>
<html class="no-js" lang="">

<head>
  <title>Home page</title>
  <link rel="stylesheet" href="../static/css/home/home.css">
  <link rel="stylesheet" href="../static/css/home/buttons.css">
  <link rel="stylesheet" href="../static/css/home/toggle.css">
  <link rel="stylesheet" href="../static/css/all.css">

</head>

<body>
  <div class="topPanel">
    <div class="toggle">
      <input type="checkbox" id="switch" onclick="colorButtons(this)" />
      <label for="switch"></label>
    </div>
  </div>
  <div class="mainPanel">
    <div class="container">
      <div class="welcome">WELCOME, John!</div>
      <div class="container2">
        <!-- Top Container -->
        <div class="todo homeContainer">
        </div>
        <div class="calendar homeContainer">
        </div>
        <!-- End top container -->
      </div>
      <div class="welcome topMarg">
        FEATURES
      </div>
      <div class="navButtonsContainer">
        <div class="navButtons" id="button1">
          <img src="../static/assets/home/agenda.svg" alt="">
        </div>
        <div class="navButtons" id="button2">
          <img src="../static/assets/home/calendar.svg" alt="">
        </div>
        <div class="navButtons" id="button3">
          <img src="../static/assets/home/list_1.svg" alt="">
        </div>
        <div class="navButtons" id="button4">
          <img src="../static/assets/home/chat.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var r = document.querySelector(':root');
    let root = getComputedStyle(r);
    let mainPanel = document.getElementsByClassName('mainPanel')[0];
    let topPanel = document.getElementsByClassName("topPanel")[0];
    let homeContainer = Array.from(document.getElementsByClassName('homeContainer'));
    console.log(homeContainer)
    function colorButtons(checkBox) {
      let allButtons = document.getElementsByClassName('navButtons')
      if (checkBox.checked == true) {
        mainPanel.style.backgroundColor =
        root.getPropertyValue("--lightColor3");
        topPanel.style.backgroundColor =
        root.getPropertyValue("--lightColor1");
        document.body.style.backgroundColor =
        root.getPropertyValue("--lightColor2");

        homeContainer.forEach(element => {
          element.style.backgroundColor =
          root.getPropertyValue("--lightColor1");
        })

        for (var i = 0; i < allButtons.length; i++) {
          allButtons[i].classList.add("active")
        }
      } else {
        homeContainer.forEach(element => {
          element.style.backgroundColor =
          root.getPropertyValue("--color1");
        })
        mainPanel.style.backgroundColor =
        root.getPropertyValue("--color2");
        topPanel.style.backgroundColor =
        root.getPropertyValue("--color1");
        document.body.style.backgroundColor =
        root.getPropertyValue("--color2");
        for (var i = 0; i < allButtons.length; i++) {
          allButtons[i].classList.remove("active")
        }
      }

    }
  </script>
</body>

</html>
