<!doctype html>
<html class="no-js" lang="">

<head>
  <title>Home page</title>
  <link rel="stylesheet" href="../static/css/home/home.css">
  <link rel="stylesheet" href="../static/css/home/buttons.css">
  <link rel="stylesheet" href="../static/css/all.css">

</head>

<body>
  <div class="topPanel">
  </div>
  <div class="mainPanel">
    <div class="container">
      <div class="welcome">WELCOME, John!</div>
      <div class="container2">
        <!-- Top Container -->
        <div class="todo">
        </div>
        <div class="calendar">
        </div>
        <!-- End top container -->
      </div>
      <div class="welcome topMarg">
        FEATURES
      </div>
      <div class="navButtonsContainer">
        <div class="navButtons" id="button1">
          <img src="../static/assets/home/agenda.svg" alt="">
        </div>
        <div class="navButtons" id="button2">
          <img src="../static/assets/home/calendar.svg" alt="">
        </div>
        <div class="navButtons" id="button3">
          <img src="../static/assets/home/list_1.svg" alt="">
        </div>
        <div class="navButtons" id="button4">
          <img src="../static/assets/home/chat.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
